* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#window {
    font-weight: bold;
    font-family: "JetBrains";
}

#workspaces {
    padding: 0px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
    padding: 0 0px;
    margin: 0 15px;
}

#clock {
    font-weight: bold;
}

#battery {}

#battery icon {
    color: red;
    padding: 0 10px;
}

#battery.charging,
#battery.charging * {
    color: #00ff7f;
    font-weight: bold;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes blink {
    to {
        color: #FF3333;
    }
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 4px #00ff7f, 0 0 8px #00ff7f;
    }

    50% {
        text-shadow: 0 0 8px #00ff7f, 0 0 16px #00ff7f;
    }

    100% {
        text-shadow: 0 0 4px #00ff7f, 0 0 8px #00ff7f;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {}

#memory {}

#network {}

#network.disconnected {
    color: #FF3333;
}

#pulseaudio {}

#pulseaudio.muted {}

#tray {}
