@import url("./colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#workspaces {
    padding: 0px;
}

#workspaces button {
    background: @background;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#workspaces button.focused,
#workspaces button.active {
    background-image: linear-gradient(0deg, @purple, @selection);
}

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}

#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#battery icon {
    color: red;
    padding: 0 10px;
}

#battery.charging,
#battery.charging * {
    color: #00ff7f;
    font-weight: bold;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes blink {
    to {
        color: #FF3333;
    }
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 4px #00ff7f, 0 0 8px #00ff7f;
    }

    50% {
        text-shadow: 0 0 8px #00ff7f, 0 0 16px #00ff7f;
    }

    100% {
        text-shadow: 0 0 4px #00ff7f, 0 0 8px #00ff7f;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode {
    padding: 0 0px;
    margin: 0 15px;
}

#clock {
    padding: 0 4px;
    background: @background;
}
